
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    
    var usertype = Context.Session.GetString("role");
    if (usertype != "Admin")
    {
        <script>
            window.location.href = '/user/login';
        </script>
    }
}

<h1>Details</h1>

<div class="container">
    <form enctype="multipart/form-data" asp-controller="Product" asp-action="Update" method="put" class="p-4 bg-white rounded shadow mt-5 mb-5">
        <h1 class="text-center">View Product</h1>
        @*<p class="text-center">Please fill in the details.</p>*@
        <input type="hidden" name="Id" value="@Model.Id">

        <div class="form-group row p-2">
            <label for="Name" class="col-sm-3 col-form-label">Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="Name" id="Name" value="@Model.Name">
            </div>
        </div>
        <div class="form-group row p-2">
            <label for="Description" class="col-sm-3 col-form-label">Description</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="Description" id="Description" value="@Model.Description">
            </div>
        </div>
        <div class="form-group row p-2">
            <label for="CategoryID" class="col-sm-3 col-form-label">Category</label>
            <div class="col-sm-9">
                <select class="form-select" name="CategoryID" id="CategoryID">
                    <option selected>Open this select menu</option>
                    @foreach (var item in Model.CatagoryDTOs)
                    {
                        if (item.Id == Model.CategoryID)
                        {
                            <option value="@item.Id" selected>@item.Name</option>
                        }
                        else
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-group row p-2">
            <label for="Price" class="col-sm-3 col-form-label">Price</label>
            <div class="col-sm-9">
                <input type="number" class="form-control" id="Price" name="Price" value="@Model.Price">
            </div>
        </div>
        <div class="form-group row p-2">
            <label for="Manufacturer" class="col-sm-3 col-form-label">Manufacturer</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="Manufacturer" id="Manufacturer" value="@Model.Manufacturer">
            </div>
        </div>
        <div class="form-group row p-2">
            <label for="ExpiryDate" class="col-sm-3 col-form-label">ExpiryDate</label>
            <div class="col-sm-9">
                <input type="date" class="form-control" name="ExpiryDate" id="ExpiryDate" value="@Model.ExpiryDate.ToString("yyyy-MM-dd")">
            </div>
        </div>
        <div class="form-group row p-2">
            <label for="PictureLink" class="col-sm-3 col-form-label">PictureLink</label>
            <div class="col-sm-9">
                <input type="file" class="form-control dropify" name="PictureLink" id="PictureLink" value="@Model.PictureLink">
            </div>
        </div>
        <div class="form-group row d-flex justify-content-around p-2">
            <button type="submit" class="btn btn-primary mb-2">Update</button>
            <button type="submit" class="btn btn-danger"
                    onclick="return confirm('Are you sure you want to delete @Model.Name')"
                    formmethod="post" formaction="@Url.Action("Delete", "Product", new { id = Model.Id })">
                Delete
            </button>


        </div>
    </form>
    
</div>

