@model IEnumerable<ASM.Models.DTOs.DoctorDTO>

@{
    ViewData["Title"] = "DoctorsList";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}

<h1>DoctorsList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Designation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            @*
            <th>
            @Html.DisplayNameFor(model => model.UserName)
            </th>
            *@
            <th>
                @Html.DisplayNameFor(model => model.CatagoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HospitalName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Designation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            @*
            <td>
            @Html.DisplayFor(modelItem => item.UserName)
            </td>
            *@
            <td>
                @Html.DisplayFor(modelItem => item.CatagoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HospitalName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationName)
            </td>
            @*
            <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
            *@
        </tr>
}
    </tbody>
</table>
